/* gooogle fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #6d026e;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 1.3em;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 5vh;
    margin: 8% auto;
    width: 41%;
    text-align: center;
}

button {
    font-family: 'Fredoka One', cursive;
    border: 6px solid #ff6600;
    background-color: #6d026e;
    font-weight: 500;
    color: #ffffff;
    border-radius: 15px;
    margin: 5% 0;
    padding: 1% 2%;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 1.3em;
}

i {
    color: #ff6600;
}

#game-area {
    border: 10px solid #ff6600;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px;
}

.intro-question {
    text-align: center;
    margin: 5% 0;
}

.introduction {
    text-align: center;
    margin: 5% 2.5%;
}

.logo-style {
    font-family: 'Fredoka One', cursive;
}

.button {
    text-align: center;
}

button:hover {
    background-color: #ff6600;
}

/* for screen width less than 600px */
@media (max-width: 600px) {

    /* game area username input */
    
    #username {
        width: 80%;
    }

    /* game area border thickness */
    #game-area {
        border-width: 5px;
        width: 60%;
    }

    /* fontsize */
    body {
        font-size: 1.2em;
    }
}
